@charset "UTF-8";

#trash-container {
    text-align: center;
}

#trash-container i {
    font-size: 60px;

    -webkit-transition: all 0.1s ease; /* Safari and Chrome */
  	-moz-transition: all 0.1s ease; /* Firefox */
  	-o-transition: all 0.1s ease; /* IE 9 */
  	-ms-transition: all 0.1s ease; /* Opera */
  	transition: all 0.1s ease;
}

.hovered-trash i {
    -webkit-transform:rotate(15deg); /* Safari and Chrome */
    -moz-transform:rotate(15deg); /* Firefox */
    -ms-transform:rotate(15deg); /* IE 9 */
    -o-transform:rotate(15deg); /* Opera */
    transform:rotate(15deg);
}

.auto-button {
    position: absolute;
    z-index: 1000000;

    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;

    color: white;
    background-color: #2c99bd;

    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal-demo-done .modal-header {
    text-align: center;
}

#modal-demo-done {
    text-align: center;
}

#modal-subtitle {
    color: #ed4337;
}
