@charset "UTF-8";

.body-overlay-container {
    position: relative;
}

.body-overlay {
    z-index: 10000;
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}