@charset "UTF-8";

.selected-avail-btn {
    background-color: #e7e7e7 !important;
    border-color: #adadad !important;

    box-shadow: 0px 2px 15px #adadad inset !important;

    z-index: 10 !important;
}

td {
    vertical-align: middle !important;
}

tr {
    vertical-align: center;
}

