<!DOCTYPE html>
<html>
{% extends 'absolute-base.html' %}
{% load staticfiles %}
<head>
	{% block absolute-header %}
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/webapp/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/webapp/icomoon.css' %}?a=c">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/webapp/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/webapp/magnific-popup.css' %}">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/webapp/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/webapp/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/webapp/style.css' %}?a=b">
	<!-- Base style  -->
	<link rel="stylesheet" href="{% static 'css/webapp/base.css' %}?a=b">

	<!-- Modernizr JS -->
	<script src="{% static 'js/webapp/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/webapp/respond.min.js' %}"></script>
	<![endif]-->
	{% endblock %}

    {% block header %}
    {% endblock %}
</head>
<body>
{% block absolute-body %}
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<!--<div id="colorlib-logo"><a href="{% url 'absolute-home' %}">JBS</a></div>-->
							<div id="colorlib-logo" class="logo-container"><a href="{% url 'absolute-home' %}"><img src="{% static 'images/logos/JBS-white-text.png' %}" height="100%" width="100%"></a></div>
						</div>
						<div class="col-md-10 text-right menu-1">
							<ul>
								<li class="{% if request.resolver_match.url_name == 'absolute-home' %}active{% endif %}"><a href="{% url 'absolute-home' %}">Home</a></li>
								<li class="{% if request.resolver_match.url_name == 'about-hive' %}active{% endif %}"><a href="{% url 'about-hive' %}">The Hive</a></li>
								<li class=""><a href="{% url 'demo' %}">Demo</a></li>
								<li class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
    	{% block content %}
    	{% endblock %}
		<footer id="colorlib-footer">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-4 colorlib-widget">
						<p>Copyright © <script>document.write(new Date().getFullYear());</script> Jambalaya Systems Inc.<br>All rights reserved.</p>
					</div>
					<div class="col-md-4 colorlib-widget">
						<h4>Information</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="{% url 'absolute-home' %}"><i class="icon-check"></i> Home</a></li>
								<li><a href="{% url 'contact' %}"><i class="icon-check"></i> Contact</a></li>
								<li><a href="{% url 'privacy' %}"><i class="icon-check"></i> Privacy</a></li>
							</ul>
						</p>
					</div>

					<div class="col-md-4 colorlib-widget">
						<h4>Contact Info</h4>
						<ul class="colorlib-footer-links">
							<li><a href="tel://1234567920"><i class="icon-phone"></i> + 1 (289) 260-5144</a></li>
							<li><a href="mailto:info@jbsystems.org"><i class="icon-envelope"></i> info@jbsystems.org</a></li>
							<li><a href="/"><i class="icon-location4"></i> jbsystems.org</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

    </div>

    <div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

    <!-- jQuery -->
	<script src="{% static 'js/webapp/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/webapp/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/webapp/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/webapp/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/webapp/jquery.stellar.min.js' %}"></script>
	<!-- YTPlayer -->
	<script src="{% static 'js/webapp/jquery.mb.YTPlayer.min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'js/webapp/owl.carousel.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/webapp/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/webapp/magnific-popup-options.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'js/webapp/jquery.countTo.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'js/webapp/main.js' %}"></script>

	{% block js_scripts %}
	{% endblock %}

{% endblock %}
</body>
</html>