<!DOCTYPE HTML>
<html>
{% extends 'webapp/base.html' %}
{% load staticfiles %}
	<head>
		{% block header %}
		<title>JBS | Home</title>

		<!-- Index base-->
  		<link rel="stylesheet" href="{% static 'css/webapp/custom/index.css' %}">
		{% endblock %}
	</head>
	<body>
	{% block content %}

		<section id="home" class="video-hero" style="height: 700px; background-image: url({% static 'images/webapp/cover_img_1.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
		<div class="overlay"></div>
			<div class="display-t text-center">
				<div class="display-tc">
					<div class="container">
						<div class="col-md-12 col-md-offset-0">
							<div class="animate-box">
								<h2>Get back to the big picture</h2>
								<p>with tailor-made AI solutions</p>
								<p><a href="{% url 'demo' %}" class="btn btn-primary btn-lg btn-custom" id="opening-demo-button">Try The Demo</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="colorlib-featured">
			<div class="row animate-box">
				<div class="featured-wrap">
					<div class="owl-carousel">
						<div class="item">
							<div class="col-md-8 col-md-offset-2">
								<div class="featured-entry">
									<img class="img-responsive" src="{% static 'images/webapp/dashboard-screenshots/schedule-builder.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-8 col-md-offset-2">
								<div class="featured-entry">
									<img class="img-responsive" src="{% static 'images/webapp/dashboard-screenshots/needs.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-8 col-md-offset-2">
								<div class="featured-entry">
									<img class="img-responsive" src="{% static 'images/webapp/dashboard-screenshots/manager-time-off.png' %}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-services colorlib-bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-browser"></i>
							</span>
							<div class="desc">
								<h3>Intuitive schedule builder</h3>
								<p>Providing your managers with an easy to use schedule builder helps maximize their time spent on more productive tasks.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-download"></i>
							</span>
							<div class="desc">
								<h3>Powered by AI</h3>
								<p>Our cutting-edge Machine Learning algorithms are optimized to create the best possible schedule in seconds.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-layers"></i>
							</span>
							<div class="desc">
								<h3>Mobile friendly</h3>
								<p>Access schedules, time off requests, availability, and more, from anywhere in the world on your mobile device.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="colorlib-counter" class="colorlib-counters" style="background-image: url({% static 'images/webapp/cover_img_1.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-2 col-sm-2 text-center animate-box"></div>

						<div class="col-md-4 col-sm-4 text-center animate-box">
							<div class="counter-entry">
								<span class="icon"><i class="flaticon-ribbon"></i></span>
								<div class="desc">
									<span class="colorlib-counter js-counter" data-from="0" data-to="1.73" data-decimals="2" data-speed="2000" data-refresh-interval="50"></span>
									<span class="colorlib-counter-label">Hours the average business spends on scheduling every week</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 text-center animate-box">
							<div class="counter-entry">
								<span class="icon"><i class="flaticon-church"></i></span>
								<div class="desc">
									<span class="colorlib-counter js-counter" data-from="0" data-to="1041" data-speed="2000" data-refresh-interval="50"></span>
									<span class="colorlib-counter-label">Dollars spent annually for a single manager to create schedules</span>
								</div>
							</div>
						</div>

						<div class="col-md-2 col-sm-2 text-center animate-box"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-work-featured colorlib-bg-white">
			<div class="container">
				<div class="row mobile-wrap">
					<!--
					<div class="col-md-5 animate-box">
						<div class="mobile-img" style="background-image: url({% static 'images/webapp/mobile-3.jpg' %});"></div>
					</div>
					-->
					<div class="row">
						<div class="col-md-12 animate-box">
							<h2 style="text-align: center;">How much do you spend on scheduling?</h2>
						</div>
					</div>

					<div class="col-md-6 animate-box">

						<form action="#">
							<div class="row form-group">
								<div class="col-md-12">
									<!-- <label for="email">Email</label> -->
									<label for="annual-pay-field">Manager Annual Pay</label>
									<div class="input-group">
										<span class="input-group-addon">$</span>
										<input type="text" id="annual-pay-field" class="form-control" value="40000">
									</div>

								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-6">
									<label for="number-managers-field">Number of Managers<br>(Who create schedules)</label>
									<input type="number" id="number-managers-field" class="form-control" value="5" min="1">
								</div>
								<div class="col-md-6">
									<label for="hours-scheduling-field">Hours Spent Scheduling<br>(Weekly)</label>
									<input type="number" id="hours-scheduling-field" class="form-control" value="2" min="1">
								</div>
							</div>

						</form>
					</div>

					<div class="col-md-6 text-center animate-box">
						<div class="pricing">
							<p class="pricing-heading">You spend</p>
							<div class="price"><sup class="currency">$</sup><span id="price-calculation">9</span><small>per year on scheduling</small></div>
							<p><a href="#jbs-desc" class="btn btn-primary btn-outline" id="jbs-can-help-button">JBS Can Help</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-intro" id="jbs-desc">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
						<h2>We use Artificial Intelligence to instantly create your schedules</h2>
						<p>The Hive™ is our sophisticated web platform where managers of a business can seamlessly create weekly schedules and distribute them to employees with <b>just a single click</b>.</p>
						<p>Manage time-off requests, monitor employee availability, and create schedules, all in a single platform.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="colorlib-subscribe" class="colorlib-subscribe" style="background-image: url({% static 'images/webapp/cover_img_1.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center colorlib-heading animate-box">
						<h2>Learn more</h2>
						<p>If you're interested in what we have to offer, let us know!</p>
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3">
						<div class="row">
							<div class="col-md-12">
								<div class="form-inline qbstp-header-subscribe" id="email-submit-form">
									<div class="col-three-forth">
										<div class="form-group">
											<input type="text" class="form-control" id="email" maxlength="254" name="email" placeholder="Enter your email" required>
										</div>
									</div>
									<div class="col-one-third">
										<div class="form-group">
											<button type="submit" class="btn btn-primary" id="demo-button">Get in Touch</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}

	{% block js_scripts %}

	{% csrf_token %}
	<!-- Index Base -->
	<script src="{% static 'js/webapp/custom/index.js' %}"></script>

	{% if anchor %}
	<script type='text/javascript'>
	$(document).ready(function(){
		window.location = '{{ anchor }}'
	});
	</script>
	{% endif %}

	{% endblock %}
	</body>
</html>

